.todo-list {
  margin-left: -35px;
  
  & > div {
    display: flex;
    padding-left: 10px;
    margin-bottom: 4px;
    align-items: center;
    border: 1px solid #b1b1b1;
    border-radius: 3px;
  }
  & > div > li {
    cursor: pointer;
    width: 100%;
    list-style-type: none;
  }

  & > div > li.completed {
    color: #ccc;
    font-style: italic;
    text-decoration: line-through;
  }
  & > div >button {
    z-index: 1;
    min-width: 35px;
    padding: 0;
    line-height: 1.4;
    min-height: 30px;
    margin-right: 10px;
  }

   & > div > li> img {
    width: 30px;
     height: 30px;
     margin-right: 5px;
  }
  & > div > li> p {
    font-size: 18px;
    font-weight: 400;
    margin: 8px 0;
  }
}

