.todo-list {
  & > div {
    display: flex;
    margin-bottom: 4px;
    align-items: center;
  }
  & > div > li {
    cursor: pointer;
    width: 100%;
  }

  & > div > li.completed {
    color: #ccc;
    font-style: italic;
    text-decoration: line-through;
  }
  & > div >button {
    z-index: 1;
    
    height: 30px;
    margin-left: 10px;
  }
}
